// compress: true, sourceMap: true, ieCompat: false, autoprefixer: Chrome 37; iOS 7

@rem: 0.01rem;
p {
    margin: 0;
}

/*我的券*/
.u-coupon {
    box-sizing: border-box;

    width: 690 * @rem;
    height: 240 * @rem;

    margin: 30 * @rem auto 0;

    background: #FFFFFF;

    border: 1px solid rgba(175,175,175,0.29);
    box-shadow: 0 4px 8px 0 rgba(233,233,233,0.50);

    &:last-child {
        margin-bottom: 30 * @rem;
    }

    .ofh {
        overflow: hidden;
    }

    .f-fl {
        float: left;
    }
}
.m-prize-coupon{
    box-sizing: border-box;

    margin: 22 * @rem 0;

    width: 166 * @rem;
    height: 196 * @rem;

    padding: 0 12 * @rem;

    border-right: 1px solid #e8e8e8;

    text-align:center;
}
.m-prize-coupon p{
    display: block;

    margin-top: (80 - 22) * @rem;

    height: 80 * @rem;

    color: #FF5A56;
    font-size: 56 * @rem;
    line-height: 80 * @rem;
}
.m-prize-coupon span{
    font-size: 30 * @rem;
}
.m-prize-coupon p.u-region{
    margin-top: 0;

    height: 28 * @rem;

    color: #afafaf;
    font-size: 20 * @rem;
    line-height: 28 * @rem;
}
.m-name-coupon{
    padding: 38 * @rem 30 * @rem;
}
.u-name-coupon {
    margin-bottom: 16 * @rem;

    height: 40 * @rem;

    color: #333333;
    font-size: 30 * @rem;
    line-height: 40 * @rem;
}
.u-cash-coupon{padding-top: 0.5rem;}
.u-rule-coupon {
    margin-bottom: 4 * @rem;

    height: 34 * @rem;

    color: #666666;
    font-size: 24 * @rem;
    line-height: 34 * @rem;
}
.u-time-coupon{
    height: 32 * @rem;

    color: #999999;
    font-size: 22 * @rem;
    line-height: 32 * @rem;
}
.m-use-coupon{width: 1.12rem;padding: 0.57rem 0;background: #FF5A56;}
.m-use-coupon p{font-size: 0.35rem;color: #fff;text-align: center;}
.m-used-coupon p{color: #afafaf;}
.cur{border: 1px solid #ff5a56;}
.m-noCoupon{padding-top: 2.82rem;}
.m-noCoupon img{display: block;width: 4.3rem;height: 2.7rem;margin: 0 auto;}
.m-noCoupon p{margin-top: 0.2rem;font-size: 0.42rem;color: #666;text-align: center;}
.coupon-value {
    transform-origin: left center;
}

.background(@path) {
    @width: unit(image-width(@path)) * @rem;
    @height: unit(image-height(@path)) * @rem;

    background-image: data-uri(@path);
    background-size: @width @height;
}

.background(@path) {
  @width: unit(image-width(@path)) * @rem;
  @height: unit(image-height(@path)) * @rem;

  background-image: data-uri(@path);
  background-size: @width @height;
}

.header-left, .popup-back {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;

  display: block;
  width: 88 * @rem;
  height: 88 * @rem;

  .background("back-black.png");
  background-position: center;
  background-repeat: no-repeat;

  z-index: 1;
}

.m-mine {
  background-color: #f9f9f9;
}

.button-container {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;

  margin: 0 auto;

  width: 750 * @rem;
  height: 128 * @rem;

  background-color: #f9f9f9;
}

.button {
  box-sizing: border-box;

  margin: 20 * @rem auto;

  width: 690 * @rem;
  height: 88 * @rem;

  background-color: #ffffff;
  border: 1px solid #ff5e56;
  border-radius: 8 * @rem;

  color: #ff5a56;
  font-size: 32 * @rem;
  line-height: 88 * @rem;
  text-align: center;
}

.more {
  display: none;

  margin: 40 * @rem auto 0;

  height: 36 * @rem;

  color:#999999;
  font-size: 26 * @rem;
  line-height: 36 * @rem;
  text-align: center;

  span {
      margin-right: 20 * @rem;
      padding-right: 20 * @rem;
      border-right: 2px solid #E8E8E8;
  }

  .link-used {
      color:#4c8cf8;

      text-decoration: none;
  }
}

em {
  font-style: normal;
}

.empty {
  .background("empty.png");
  background-position: center;
  background-repeat: no-repeat;

  padding-top: 600 * @rem;

  &::after {
      content: "暂无可用券";

      position: absolute;
      top: 500 * @rem;
      right: 0;
      left: 0;

      color: #333333;
      font-size: 32 * @rem;
      text-align: center;
  }
}
