@rem: 0.01rem;
.page{
    html,body{background-color: #fff;}
    .g-cnt{
        padding: 0;
    }
    .u-input{
        padding-left: 30 * @rem;
        position: relative;
        width: 96%;
        height: 98 * @rem;
        border-top: 1px solid #e8e8e8;
        background: #fff;
        overflow: hidden;
        border-bottom:none;
    }
    .u-input.password{
        border-bottom: 1px solid #e8e8e8;
    }
    .password{
        position: relative;
    }

    .input {
        background-color: #ffffff;
    }

    .label {
        display: inline-block;

        margin-left: 30 * @rem;
        width: (210 - 30) * @rem;

        color: #333;
        font-size: 32 * @rem;
    }

    .u-submit{
        margin:60 * @rem auto 30 * @rem;
    }

    .m-logo{
        width: 272 * @rem;
        height: 74 * @rem;
        margin: 170 * @rem auto 20 * @rem;
        background-image: url("https://icdn.cnaidai.com/aidai/webchat/static/img/logo.png");
        background-size: 100% 100%;
    }
    .m-message{
        margin: 40 * @rem 0;
        text-align: center;
        font-size: 24 * @rem;
    }
    .icon-logo{
        font-family: 'iconfont' !important;
        color: #FF5A56;
        font-size:  332 * @rem;
        line-height: normal;
        text-align: center;
        // margin-top: -40 * @rem;
    }
    .icon-eye{
        display: block;

        width: 98 * @rem;
        height: 98 * @rem;

        color: #d1d1d1;
        font-family: 'iconfont' !important;
        font-size: 42 * @rem;
        line-height: 98 * @rem;
        text-align: center;
    }
    .m-login{
        margin-top: -80 * @rem;
    }
}
