{
    "extends": "stylelint-config-standard",
    "rules": {
        "indentation": 4,
        "rule-empty-line-before": "never-multi-line",

        "declaration-empty-line-before": null,
        "number-leading-zero": null,
    }
}