*{
    padding: 0;
    margin: 0;
    list-style-type: none;
    -webkit-user-select:none;
   -moz-user-select:none;
   -ms-user-select:none;
   user-select:none;
}
.index-page{
    width: 750px;
    margin: 0 auto;
    .head{
        height: 60px;
        background: #ff7700;
        position: relative;
        .search{
            width: 400px;
            height: 40px;
            margin-left: 170px;
            outline: none;
            border: none;
            margin-top: 10px;
            border-radius: 3px;
            text-align: center;
            line-height: 40px;
            font-size: 20px;
            color: #8c8888;
        }
    }
    .banner-box{
        width: 750px;
        height: 300px;
        background: #ccc;
        text-align: center;
        line-height: 300px;
        overflow: hidden;
        position: relative;
        .ul-box{
            position: absolute;
            left: 0;
            transition: left .5s;
            li{
                width: 750px;
                height: 300px;
                float: left;
            }
        }
        .left{
            display: block;
            position: absolute;
            width: 30px;
            height: 30px;
            line-height: 30px;
            top: 125px;
            font-size: 36px;
            left: 12px;
            opacity: 0.5;
            cursor: pointer;
        }
        .right{
            display: block;
            position: absolute;
            width: 30px;
            height: 30px;
            line-height: 30px;
            top: 125px;
            font-size: 36px;
            right: 12px;
            opacity: 0.5;
            cursor: pointer;
        }
        .changeBtn{
            position: absolute;
            height: 20px;
            bottom: 10px;
            left: 50%;
            transform: translate(-50%,0);
            li{
                width: 20px;
                height: 20px;
                float: left;
                background: #ffffff;
                border-radius: 50%;
                margin-right: 5px;
            }
            .current{
                background: #999999;
            }
        }
    }
}