@rem: 0.01rem;

.input {
    width: 100%;

    height: 88 * @rem;

    border: none;
    outline: none;

    color: #333;
    font-size: 40 * @rem;
    line-height: 88 * @rem;

    &::-webkit-input-placeholder {
        color: #bebebe;
        font-size: 32 * @rem;
    }
}
