.m-total {
  padding: 0.495rem 0.75rem;
  border-bottom: 1px solid #ebebeb;
  background: #fff;
  color: #999;
}
.m-total p {
  font-size: 0.4575rem;
  color: #fe4646;
}
.m-total span {
  display: block;
  margin-top: 0.195rem;
}
.m-list {
  margin-top: 0.279rem;
  border-top: 1px solid #ebebeb;
  color: #999;
}
.m-list .item {
  margin-bottom: 0.18rem;
  padding: 0.255rem 0.24rem 0;
  border-bottom: 1px solid #ebebeb;
  background: #fff;
}
.m-list .item p {
  font-size: 0.2625rem;
}
.m-list .item span {
  font-size: 0.2175rem;
  margin-bottom: 0.12rem;
}
.m-list .item .u-title {
  border-bottom: 1px solid #ebebeb;
}
.m-list .item .u-title p {
  margin: 0 0 0.195rem;
  color: #333;
}
.m-list .item .u-title p i {
  color: #95ADD2;
}
.m-list .item .u-title .u-time {
  display: block;
  margin: 0.195rem 0;
}
.m-list .item .u-title p.detail {
  color: #fe4646;
}
.m-list .item .u-detail {
  height: 1.005rem;
}
.m-list .item .u-detail i {
  color: #fe4646;
}
.m-list .item .u-detail p {
  line-height: 1.005rem;
}
.m-list .item .u-detail .f-fr {
  padding-top: 0.18rem;
}
.m-scrollWrapper {
  overflow-y: scroll;
}
/*我的模块-公共样式*/
.m-mine {
  min-height: 12.69rem;
  background: #f1f1f1;
  overflow: hidden;
}
.m-mine .m-hd {
  position: relative;
  width: 100%;
  height: 0.8625rem;
  line-height: 0.8625rem;
  background: #fff;
  border-bottom: 1px solid #dcdcdc;
  font-size: 0.3825rem;
}
.m-mine .m-hd h3 {
  font-weight: normal;
}
.m-mine .m-hd a {
  position: absolute;
  top: 50%;
  left: 0.2775rem;
  width: 0.2025rem;
  height: 0.36rem;
  margin-top: -0.135rem;
  background: url(https://icdn.cnaidai.com/aidai/webchat/static/img/mine/backArrowIcon.png) no-repeat center;
  background-size: 0.2025rem 0.36rem;
  -webkit-background-size: 0.2025rem 0.36rem;
}
.m-mine .c-red {
  color: #fe4646!important;
}
.m-mine .c-blue {
  color: #54aeff!important;
}
/*用户头像样式*/
.m-mine .u-userImg {
  width: 1.1625rem;
  height: 1.1625rem;
  border: 3px solid #ebebeb;
  border-radius: 50%;
  overflow: hidden;
}
.m-mine .u-userImg > img {
  width: 100%;
  height: 100%;
}
/*银行图标--充值页、选择银行卡页*/
.m-mine .u-bankInfo {
  height: 1.2975rem;
  line-height: 1.2975rem;
  margin-top: 0.255rem;
  padding: 0 0 0 0.3rem;
  background: #fff;
}
.m-mine .u-bankInfo em {
  float: left;
  width: 0.6825rem;
  height: 0.6825rem;
  margin: 0.3075rem 0.15rem 0 0;
  background-image: url(https://icdn.cnaidai.com/aidai/webchat/static/img/mine/banklogo.png);
  background-repeat: no-repeat;
  -webkit-background-size: 3.72rem 3rem;
  background-size: 3.72rem 3rem;
}
.m-mine .u-bankInfo em.u-bank1 {
  background-position: -0.03rem -0.075rem;
}
/*浙商*/
.m-mine .u-bankInfo em.u-bank2 {
  background-position: -0.78rem -0.075rem;
}
/*广发*/
.m-mine .u-bankInfo em.u-bank3 {
  background-position: -1.5rem -0.075rem;
}
/*上海*/
.m-mine .u-bankInfo em.u-bank4 {
  background-position: -2.25rem -0.075rem;
}
/*杭州*/
.m-mine .u-bankInfo em.u-bank5 {
  background-position: -2.985rem -0.075rem;
}
/*北京*/
.m-mine .u-bankInfo em.u-bank6 {
  background-position: -0.015rem -0.81rem;
}
/*华夏*/
.m-mine .u-bankInfo em.u-bank7 {
  background-position: -0.735rem -0.81rem;
}
/*邮政*/
.m-mine .u-bankInfo em.u-bank8 {
  background-position: -1.53rem -0.81rem;
}
/*平安*/
.m-mine .u-bankInfo em.u-bank9 {
  background-position: -2.235rem -0.81rem;
}
/*浦发*/
.m-mine .u-bankInfo em.u-bank10 {
  background-position: -3rem -0.765rem;
}
/*兴业*/
.m-mine .u-bankInfo em.u-bank11 {
  background-position: -0.045rem -1.545rem;
}
/*中信*/
.m-mine .u-bankInfo em.u-bank12 {
  background-position: -0.795rem -1.545rem;
}
/*光大*/
.m-mine .u-bankInfo em.u-bank13 {
  background-position: -1.515rem -1.545rem;
}
/*中国*/
.m-mine .u-bankInfo em.u-bank14 {
  background-position: -2.265rem -1.545rem;
}
/*交通*/
.m-mine .u-bankInfo em.u-bank15 {
  background-position: -3.015rem -1.545rem;
}
/*建设*/
.m-mine .u-bankInfo em.u-bank16 {
  background-position: -0.045rem -2.295rem;
}
/*民生*/
.m-mine .u-bankInfo em.u-bank17 {
  background-position: -0.765rem -2.28rem;
}
/*工商*/
.m-mine .u-bankInfo em.u-bank18 {
  background-position: -1.515rem -2.28rem;
}
/*招行*/
.m-mine .u-bankInfo em.u-bank19 {
  background-position: -2.265rem -2.28rem;
}
/*农行*/
.m-mine .u-bankInfo em.u-bank20 {
  background-image: url(https://icdn.cnaidai.com/aidai/webchat/static/img/mine/bohai.png);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: 0.6825rem 0.6825rem;
  background-size: 0.6825rem 0.6825rem;
}
/*渤海*/
.m-mine .u-bankInfo em.u-bank21 {
  background-image: url(https://icdn.cnaidai.com/aidai/webchat/static/img/mine/chengdu.png);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: 0.6825rem 0.6825rem;
  background-size: 0.6825rem 0.6825rem;
}
/*成都*/
.m-mine .u-bankInfo em.u-bank22 {
  background-image: url(https://icdn.cnaidai.com/aidai/webchat/static/img/mine/dalian.png);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: 0.6825rem 0.6825rem;
  background-size: 0.6825rem 0.6825rem;
}
/*大连*/
.m-mine .u-bankInfo em.u-bank23 {
  background-image: url(https://icdn.cnaidai.com/aidai/webchat/static/img/mine/dongya.png);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: 0.6825rem 0.6825rem;
  background-size: 0.6825rem 0.6825rem;
}
/*东亚*/
/*每个个块中 右边小箭头背景图 公共样式*/
.m-mine .u-rightArrowBg {
  background: #fff url(https://icdn.cnaidai.com/aidai/webchat/static/img/mine/rightArrowIcon.png) no-repeat 97% center;
  padding-right: 0.525rem !important;
  background-size: 0.1275rem 0.24rem;
  -webkit-background-size: 0.1275rem 0.24rem;
}
/*flex布局统一*/
.m-flexBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  display: -webkit-flex;
  -webkit-flex-direction: row;
  -webkit-justify-content: space-between;
  -webkit-align-items: center;
}
/*几个input表单公共样式---爱贷钱包转出、充值、提现、*/
.s-com-input .input {
  position: relative;
  height: 0.96rem;
  line-height: 0.96rem;
  margin-top: 0.255rem;
  padding: 0 0.3rem 0 0.225rem;
  background: #fff;
  font-size: 0.3rem;
  color: #333;
}
.s-com-input .input input {
  width: 4.275rem;
  height: 0.5025rem;
  border: none;
  border-left: 1px solid #ebebeb;
  margin-left: 0.225rem;
  padding-left: 0.15rem;
  font-size: 0.3rem;
  color: #333;
}
.s-com-input .input > i {
  position: absolute;
  top: 0.345rem;
  right: 0.975rem;
  width: 0.27rem;
  height: 0.27975rem;
  background: url(https://icdn.cnaidai.com/aidai/webchat/static/img/mine/clearBtn.png) no-repeat center;
  -webkit-background-size: 0.27rem 0.27975rem;
  background-size: 0.27rem 0.27975rem;
}
.s-com-input form .m-submit {
  display: block;
  width: 6.945rem;
  height: 0.87rem;
  line-height: 0.87rem;
  margin: 0.5025rem auto 0;
  border: none;
  text-align: center;
  border-radius: 10px;
  -webkit-appearance: none!important;
  font-size: 0.36rem;
  color: #fff;
  background: #fe4646;
}
/*几个认证页面公共样式*/
/*账户余额明细++爱贷钱包明细*/
.mine-s-detailList {
  font-size: 0.2205rem;
}
.mine-s-detailList .u-tab {
  height: 0.825rem;
  line-height: 0.825rem;
  border-bottom: 1px solid #ebebeb;
  background: #fff;
  font-size: 0.3rem;
  color: #333;
  text-align: center;
}
.mine-s-detailList .u-tab .u-current {
  border-bottom: 2px solid #fe4646;
  color: #fe4646;
}
.mine-s-detailList .u-tab span {
  display: inline-block;
  width: 1.2975rem;
}
.mine-s-detailList .m-detail {
  background: #fff;
  color: #999;
}
.mine-s-detailList .m-detail .u-class {
  margin-bottom: 0.06rem;
  font-size: 0.3rem;
  color: #333;
}
.mine-s-detailList .m-detail .u-sum {
  margin-bottom: 0.06rem;
  font-size: 0.3rem;
  color: #4c8feb;
}
.mine-s-detailList .m-detail .u-item-box {
  padding: 0.33rem 0.24rem;
  border-bottom: 1px solid #ebebeb;
}
.mine-s-detailList .m-detail .u-item-box .f-fr {
  text-align: right;
}
/*充值页--提现页公共样式*/
.m-bankInput .u-bankInfo span {
  font-size: 0.3rem;
  color: #333;
}
.m-bankInput .u-bankInfo i {
  margin-right: 0.6rem;
  font-size: 0.24rem;
  color: #999;
}
/*消息提示样式*/
/*遮罩层*/
.m-mask,
.u-mask {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(51, 51, 51, 0.2);
  z-index: 9;
}
.m-mask .loading {
  margin: 0.3975rem auto;
  position: fixed;
  left: 50%;
  top: 30%;
  margin-left: -0.15975rem;
}
.m-mask .goback {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -28px;
  color: #666;
  font-size: 32px;
}
.m-popupTips {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
  -webkit-transform: translate(-50%, -50%) !important;
  z-index: 998;
  font-size: 0.3rem;
  font-style: normal!important;
}
.m-popupTips strong {
  font-weight: normal!important;
}
.u-tips {
  padding: 0.3rem 0.45rem;
  line-height: 0.375rem;
  border-radius: 8px;
  color: #fff;
  filter: alpha(opacity=80);
  background-color: rgba(51, 51, 51, 0.8);
  text-align: center;
}
animation-fadeIn {
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: .5s;
  -webkit-animation-delay: .2s;
  -webkit-animation-timing-function: ease;
  -webkit-animation-fill-mode: both;
  -moz-animation-name: fadeIn;
  -moz-animation-duration: .5s;
  -moz-animation-delay: .2s;
  -moz-animation-timing-function: ease;
  -moz-animation-fill-mode: both;
  -ms-animation-name: fadeIn;
  -ms-animation-duration: .5s;
  -ms-animation-delay: .2s;
  -ms-animation-timing-function: ease;
  -ms-animation-fill-mode: both;
  -o-animation-name: fadeIn;
  -o-animation-duration: .5s;
  -o-animation-delay: .2s;
  -o-animation-timing-function: ease;
  -o-animation-fill-mode: both;
  animation-name: fadeIn;
  animation-duration: .5s;
  animation-delay: .2s;
  animation-timing-function: ease;
  animation-fill-mode: both;
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.animation-fadeOut {
  -webkit-animation-name: fadeOut;
  -webkit-animation-duration: .5s;
  -webkit-animation-delay: .2s;
  -webkit-animation-timing-function: ease;
  -webkit-animation-fill-mode: both;
  -moz-animation-name: fadeOut;
  -moz-animation-duration: .5s;
  -moz-animation-delay: .2s;
  -moz-animation-timing-function: ease;
  -moz-animation-fill-mode: both;
  -ms-animation-name: fadeOut;
  -ms-animation-duration: .5s;
  -ms-animation-delay: .2s;
  -ms-animation-timing-function: ease;
  -ms-animation-fill-mode: both;
  -o-animation-name: fadeOut;
  -o-animation-duration: .5s;
  -o-animation-delay: .2s;
  -o-animation-timing-function: ease;
  -o-animation-fill-mode: both;
  animation-name: fadeOut;
  animation-duration: .5s;
  animation-delay: .2s;
  animation-timing-function: ease;
  animation-fill-mode: both;
}
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-ms-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-o-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/*进loading*/
.u-done {
  position: relative;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background: #51b33b;
  margin: 0 auto;
}
.u-done.empty {
  width: 26px;
  height: 26px;
  border: 3px solid #51b33b;
  background: none;
}
.u-done:after,
.u-done:before {
  content: '';
  position: absolute;
  width: 13px;
  height: 2px;
  background: #fff;
  border-radius: 2px;
  -webkit-transform: rotate(-50deg);
  transform: rotate(-50deg);
  top: 10px;
  right: 2px;
}
.u-done:before {
  width: 7px;
  -webkit-transform: rotate(40deg);
  transform: rotate(40deg);
  right: 11px;
  top: 13px;
}
.u-done.empty:after,
.u-done.empty:before {
  width: 10px;
  height: 3px;
  background: #51b33b;
  top: 16px;
  right: 13px;
  border-radius: 3px;
}
.u-done.empty:after {
  width: 18px;
  right: 1px;
  top: 13px;
}
.u-ing {
  width: 64px;
  height: 64px;
  margin: 0 auto;
  background-color: #bbb;
  border-radius: 50%;
  -webkit-animation: circle 1s infinite ease;
  -ms-animation: circle 1s infinite ease;
  animation: circle 1s infinite ease;
}
.u-ing:after {
  content: '';
  position: absolute;
  top: 7px;
  left: 7px;
  width: 50px;
  height: 50px;
  background-color: #5e5e5e;
  border-radius: 50%;
  z-index: 1;
}
.u-ing i {
  display: block;
  width: 64px;
  height: 64px;
  position: absolute;
  z-index: 1;
  clip: rect(0, 64px, 64px, 32px);
}
.u-ing i:after {
  content: '';
  width: 64px;
  height: 64px;
  background-color: #53a341;
  border-radius: 50%;
  position: absolute;
  clip: rect(0, 64px, 64px, 32px);
  -webkit-transform: rotate(140deg);
  transform: rotate(140deg);
}
@-webkit-keyframes circle {
  0% {
    -webkit-transform: rotate(-160deg);
  }
  100% {
    -webkit-transform: rotate(200deg);
  }
}
@-ms-keyframes circle {
  0% {
    -ms-transform: rotate(-160deg);
  }
  100% {
    -ms-transform: rotate(200deg);
  }
}
@keyframes circle {
  0% {
    transform: rotate(-160deg);
  }
  100% {
    transform: rotate(200deg);
  }
}
/*滑动刷新样式*/
.m-scrollWrapper {
  width: 100%;
  z-index: 2;
  font-size: 0.24rem;
  overflow: hidden;
}
.m-scrollWrapper > .scroller > .msg {
  padding: 10px;
  text-align: center;
}
.m-scrollWrapper > .scroller > .msg.error {
  background-color: #F2FFC4;
  color: #f55;
}
.m-scrollWrapper > .scroller > .pullUp {
  padding: 10px;
  text-align: center;
  color: #999;
}
.ofh {
  overflow: hidden;
}
.f-fl {
  float: left;
}
.f-fr {
  float: right;
}
.tc {
  text-align: center;
}
.db {
  display: block;
}
